<div id="shopping_cart">
	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>
	<h2>Shopping Cart</h2>
	<ul>
		<% cart.line_items.each do |item| %>
			<li><%= "#{item.quantity} x #{item.product.color} = #{item.display_price}"%></li>
		<% end%>
		<li><%= cart.display_price.html_safe %></li>
	</ul>
	
	<%= button_to("Order", cart_path(cart), :class => "add", :method => "get" )%>
	<%= button_to("Empty", line_items_path, :class => "add", :method => "get" )%>
       <form name="_xclick" target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="phppay_1218103111_biz@gmail.com">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="item_name" value="Total Item">
<input type="hidden" name="amount" value="<%= cart.paypal_price.html_safe %>">
<input type="image" src="http://www.paypal.com/en_US/i/btn/sc-but-01.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<input type="hidden" name="add" value="1">
</form>
</div>